.title {
  font-size: 30px;
}

.CBT-exercise-topic {
  margin-top: 2em;
  margin-bottom: 2em;
}

.thought-tool-exercise {
  //   border: dashed blue;
  //   border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  width: 30em;
  align-items: center;
  height: 12em;
  justify-content: center;
}

#thought-tool-exercise-button {
  width: 70%;
  height: 50%;
  margin-bottom: 0.5em;
  background: none;
  border: #0db3a1 solid;
  border-radius: 15px;
}
.image {
  width: 55%;
  object-fit: cover;
  height: 100%;
  object-position: 0px -1.6em;
}

.thought-tool-group {
  display: flex;
  margin-inline: -4em;
}

/* // Background - #2E3255
Box Color - #3B4C78 
Text - #F7FDFE
Button Color: #0db3a1
help@resiliens.com
Woops Wrong chat */
