.other {
  background-color: none;
  border: none;
  background: none;
}

.visible-items {
  // display: flex;
  // justify-content: center;
  // border: dashed;
}

.hidden-items {
  display: none;
  border: solid;
}

.displayButton {
  background-color: none;
  border: #0db3a1 solid;
  border-radius: 12px;
  background: none;
  display: block;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
}

.displayButton:hover {
  cursor: pointer;
}

.displayButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.imageButton {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: 0px -5.6em;
}

.exercise-label {
  font-size: 23px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 80%;
}
