.depression-test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 2em;
  border-radius: 10px;
  border: dashed;
  background-color: #3b4c78;
}

.info-button {
  margin-right: 1em;
}

/* // Background - #2E3255
Box Color - #3B4C78 
Text - #F7FDFE
help@resiliens.com
Woops Wrong chat */
