.depression-test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 2em;
  border-radius: 10px;
  border: dashed;
}

.info-button {
  margin-right: 1em;
}
