html {
  margin-left: 3em;
  background-color: #2e3255;
  color: #f7fdfe;
}

/* // Background - #2E3255
Box Color - #3B4C78 
Text - #F7FDFE
help@resiliens.com
Woops Wrong chat */

/* // Background - #2E3255
Box Color - #3B4C78 
Text - #F7FDFE
help@resiliens.com
Woops Wrong chat */
