html {
  margin-left: 3em;
}

.daily-checkin {
  border: dashed;
  border-radius: 10px;
  width: 50%;
}

.inline-daily-checkin {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 7em;
  margin-left: 1.5em;
}

.start-button {
  width: 10%;
}

.CBT-exercise-topic {
  border: dashed;
  border-radius: 10px;
  margin-top: 2em;
}

.thought-tool-exercise {
  border: dashed blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  width: 15em;
  align-items: center;
}

#thought-tool-exercise-button {
  width: 70%;
  height: 50%;
}

.thought-tool-group {
  display: flex;
}
