.daily-checkin {
  border: dashed;
  border-radius: 10px;
  width: 50%;
  margin-top: 1em;
}

.inline-daily-checkin {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 7em;
  margin-left: 1.5em;
}

.start-button {
  width: 10%;
}
